menuconfig MODULES_ROBOSUB_RS_CANFD_STATUS
	bool "CAN FD Status Module"
	default n
	---help---
		Enable support for robosub_CANFD_STATUS

menuconfig USER_ROBOSUB_RS_CANFD_STATUS
	bool "robosub_CANFD_STATUS running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_ROBOSUB_RS_CANFD_STATUS
	---help---
		Put robosub_CANFD_STATUS in userspace memory
